<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"></meta>
    <title>Tildeverse Tags</title>
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/css/holy_grail.css">
    <link rel="stylesheet" href="browser/browser.css">
    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="browser/browser.js"></script>
    <script language="javascript">

      $(document).ready( function() {

        // Create the DOM elements for each tag.
        TAG_DOM.createTagElementsTagging();

        // Wait for the external JSON file to load.
        $.getJSON("tildeverse.json", function(data) {

          // Load the JSON data to the USERS module.
          USERS.initialize(data);

          // By default, filter for only newly updated users.
          // If none found, filter for users who have never been tagged.
          if (FILTER_FUNCTIONS.getNewlyUpdated().length != 0) {
            TOGGLE_GROUPS.toggleNewlyUpdated();
          } else {
            TOGGLE_GROUPS.toggleNeverTagged();
          }

          // Navigate to a random URL.
          URL_NAVIGATION.randomUrl();

        });

      });

    </script>
  </head>
  <body class="border">
    <header class="border">
      <div class="header_div">
        <div class="header_title input-group-lg">
          <input id="text_user"
                 type="text"
                 class="form-control"
                 readonly="readonly"
                 onfocus="this.focus();this.select()"
          />
          <a hidden id="url_iframe_link" target="tildesite"></a>
          <a hidden id="url_blank_link" target="_blank"></a>
        </div>
        <div class="header_left">
          <div class="btn-group btn-group-lg">
            <a class="btn btn-default top_button top_button_left"
               title="Previous user"
               onclick="URL_NAVIGATION.previousUrl()">
              <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
            <a class="btn btn-default top_button top_button_left"
               title="Next user"
               onclick="URL_NAVIGATION.nextUrl()">
              <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
            <a class="btn btn-default top_button top_button_left"
               title="Random user"
               onclick="URL_NAVIGATION.randomUrl()">
              <span class="glyphicon glyphicon-random"></span>
            </a>
          </div>
          <a class="btn btn-default top_button top_button_left btn-lg"
             title="Open user homepage in new tab"
             onclick="USERS.openCurrentInNewTab()">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
        </div>
        <div class="header_right">
          <select id="url_dropdown"
                  class="form-control input-lg"
                  onchange="URL_NAVIGATION.gotoUrlIndex(this.value)">
          </select>
          <input id="text_counter"
                 type="text"
                 class="form-control input-lg"
                 readonly="readonly"
                 onfocus="this.focus();this.select()"
          />
          <div id="filters" class="btn-group btn-group-lg">
            <a id="filter_by_never_tagged"
               title="Filter for users who have never been tagged"
               class="btn btn-default btn-lg top_button top_button_right"
               onclick="TOGGLE_GROUPS.toggleNeverTagged()">
              <span class="glyphicon glyphicon-inbox"></span>
            </a>
            <a id="filter_by_newly_updated"
               title="Filter for users who have modified their pages since last being tagged"
               class="btn btn-default btn-lg top_button top_button_right"
               onclick="TOGGLE_GROUPS.toggleNewlyUpdated()">
              <span class="glyphicon glyphicon-time"></span>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="contents">
      <div id="col_left" class="col_left col_left_thin border">
        <div id="col_left_content">
          <div id="tag_area">
            <div id="tag_area_left">
              <div id="tag_area_top" class="btn-block">
                <a id="save" title="Save changes to user tags"
                   class="btn btn-default btn-lg btn_tags" onclick="TAG_STATE.saveTagsToFile()">
                  <span id="save_glyphicon" class="glyphicon glyphicon-floppy-saved"></span>
                </a>
              </div>
              <div id="tag_buttons" class="btn-group-vertical btn-block"></div>
            </div>
          </div>
        </div>
      </div>
      <iframe class="col_middle border" name="tildesite"></iframe>
    </div>
  </body>
</html>
