body {
  min-height: 100vh;
}
.centre_text {
  text-align: center;
}
.header_div {
  margin: 10px;
}
.header_left {
  flex: 0 0 414px;
  margin-top: 0px;
  margin-left: 0px;
}
#filters_two {
  width: 165px;
  margin: 0px;
}
#filters_three {
  width: 281px;
  margin: 0px;
}
.top_button {
  height: 46px;
}
.header_right {
  flex: 0 0 700px;
  margin-left: 8px;
  margin-right: 0px;
  display: flex;
}
#text_counter {
  width: 130px;
  margin-left: 8px;
  margin-right: 8px;
}
.top_button_left {
  width: 99px;
}
.col_left_thin {
  flex: 0 0 221px;
}
.col_left_wide {
  flex: 0 0 319px;
}
.col_middle {
  background-color: white;
  padding: 0px;
}
.btn_top_left {
  margin: 0px 0px 8px 0px;
}
.btn_tags {
  height: 44px;
}
.btn_glyph {
  height: 44px;
  width: 50px;
}
.tag_button, .tag_button_desc {
  height: 44px;
  width: 197px;
}
.tag_header {
  background-color: #F2F2F2;
  color: #555;
}
#tag_area_left {
  overflow: hidden;
}
#tag_area_top {
  margin: 0px 0px 3px 0px;
}
#save {
  margin: 0px -1px 0px 0px;
  width: 197px;
}

#help_text, #list_text {
  font-family: 'Lucida Console', Monaco, monospace;
  color: #333;
  font-size: 125%;
  line-height: 160%;
}
#help_text {
  text-align: center;
}
#help_text p, #help_text h1 {
  text-align: center;
  margin-top: 26px;
}
#list_table {
  margin: 0 auto;
  margin-top: 26px;
}
#list_table th, #list_table td {
  padding: 3px 12px;
}
#list_text {
  padding-left: 26px;
  padding-right: 26px;
  overflow: auto;
}
.dataTables_wrapper {
  padding: 20px 0px 10px 0px;
}

/* options for a group of button groups */
.btn_group_group div:first-child {
  margin-bottom: -1px;
}
.btn_group_group div:first-child * {
  border-radius: 6px 6px 0px 0px;
}
.btn_group_group div:not(:first-child):not(:last-child) {
  margin-top: 0px;
  margin-bottom: -1px;
}
.btn_group_group div:not(:first-child):not(:last-child) * {
  border-radius: 0px;
}
.btn_group_group div:last-child {
  margin-top: 0px;
}
.btn_group_group div:last-child * {
  border-radius: 0px 0px 6px 6px;
}

/* these are not buttons, they just look like buttons */
.no_pointer_events {
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
